In [1]:
import pandas as pd
import re

### Creating Dummy Dataframe containing dates in various styles:

In [2]:
d=['04/20/2009','04/20/09','4/20/09','4/3/09',
   'Mar-20-2009','Mar 20, 2009','March 20, 2009','Mar. 20, 2009','Mar 20 2009',
  '20 Mar 2009','20 March 2009','20 Mar. 2009','20 March, 2009',
   'Mar 20th, 2009','Mar 21st, 2009','Mar 22nd, 2009',
  'Feb 2009','Sep 2009','Oct 2010',
  '6/2008','12/2009',
  '2009', '2010']
s=pd.Series(d)
df=pd.DataFrame(s,columns=['text'])
df

              text
0       04/20/2009
1         04/20/09
2          4/20/09
3           4/3/09
4      Mar-20-2009
5     Mar 20, 2009
6   March 20, 2009
7    Mar. 20, 2009
8      Mar 20 2009
9      20 Mar 2009
10   20 March 2009
11    20 Mar. 2009
12  20 March, 2009
13  Mar 20th, 2009
14  Mar 21st, 2009
15  Mar 22nd, 2009
16        Feb 2009
17        Sep 2009
18        Oct 2010
19          6/2008
20         12/2009
21            2009
22            2010

### Applying regular expressions to create a dataframe with unique date type:

In [3]:
df1=df['text'].str.extractall(r'(?P<month>\d{1,2})/(?P<date>\d{1,2})/(?P<year>\d{2,4})')
df2=df['text'].str.extractall(r'\b(?P<month>^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[a-z]*?[-. ]*\b(?P<date>\d{1,2})[-, ]*\b(?P<year>\d{2,4}$)')
df3=df['text'].str.extractall(r'(?P<date>\d{1,2}) (?P<month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.,]* (?P<year>\d{2,4})')
df4=df['text'].str.extractall(r'(?P<month>^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[?=a-z]*[-. ]*(?P<date>\d{1,2})(?:st|nd|th)[, ]*(?P<year>\d{2,4})')
df5=df['text'].str.extractall(r'(?P<month>^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[ -,.]*(?P<year>\d{4})')
df6=df['text'].str.extractall(r'(?P<month>^\d{1,2})/(?P<year>\d{2,4}$)')
df7=df['text'].str.extractall(r'(?P<year>^\d{2,4}$)')

In [4]:
df1.reset_index(level=1, drop=True,inplace=True)
df2.reset_index(level=1, drop=True,inplace=True)
df3.reset_index(level=1, drop=True,inplace=True)
df4.reset_index(level=1, drop=True,inplace=True)
df5.reset_index(level=1, drop=True,inplace=True)
df6.reset_index(level=1, drop=True,inplace=True)
df7.reset_index(level=1, drop=True,inplace=True)

### Combining all dataframes:

In [5]:
df=pd.concat([df1,df2,df3,df4,df5,df6,df7])

### Data Processing - converting all data in the fomat which can be converted to datetime object and sorted:

In [7]:
df['month'].fillna('Jan',inplace=True)
df['date'].fillna('1',inplace=True)

In [8]:
month_dict={'Jan':'01','Feb':'02','Mar':'03','Apr':'04','May':'05','Jun':'06','Jul':'07','Aug':'08','Sep':'09','Oct':'10','Nov':'11','Dec':'12'}
df.replace(month_dict,inplace=True)

In [10]:
for i in range(len(df)):
    if(len(df.loc[i,'month'])==1):
        df.at[i,'month']='0'+df.at[i,'month']
    if(len(df.loc[i,'date'])==1):
        df.at[i,'date']='0'+df.at[i,'date']
    if(len(df.loc[i,'year'])==2):
        df.at[i,'year']='20'+df.at[i,'year']

In [17]:
df['final_date']=df.month+' '+df.date+' '+df.year

In [19]:
df_final=df['final_date']

In [21]:
from datetime import datetime

In [26]:
df_final=df_final.apply(lambda x: datetime.strptime(x,'%m %d %Y'))

In [29]:
df_final.sort_values(ascending=True,inplace=True)

In [32]:
final_ans=pd.Series(df_final.index)

In [33]:
final_ans

0     19
1     21
2     16
3     11
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    12
12    13
13    14
14    15
15     3
16     0
17     1
18     2
19    17
20    20
21    22
22    18
dtype: int64