In [1]:
import pandas as pd

In [2]:
import re

In [3]:
d=['07/15/1998',
  '07/06/99',
  '7/6/99',]

In [4]:
s=pd.Series(d)

In [5]:
df=pd.DataFrame(s,columns=['text'])

In [6]:
df

         text
0  07/15/1998
1    07/06/99
2      7/6/99

In [7]:
for i in range(len(df)):
    try:
        match=re.search(r'(\d?\d)/(\d?\d)/(\d?\d?\d\d)',df.loc[i,'text'])
        print(match.group())
    except:
        pass

07/15/1998
07/06/99
7/6/99

In [8]:
txt1='04/20/2009 ; 04/20/09 ; 4/20/09 ; 4/3/09'

In [9]:
txt2='Mar-20-2009 ; Mar 20, 2009 ; March 20, 2009 ; Mar. 20, 2009 ; Mar 20 2009 ; 20 Mar 2009 ; 20 March 2009 ; 20 Mar. 2009 ; 20 March, 2009 ; Mar 20th, 2009 ; Mar 21st, 2009 ; Mar 22nd, 2009'

r'(?:\d{1,2} )?(?:Mar)[a-z.,]*[- ](?:\d{1,2}(?:st|nd|rd|th)?[-, ]*)?\d{2,4}'

In [10]:
txt4='Feb 2009 ; Sep 2009 ; Oct 2010'

In [11]:
txt5='6/2008 ; 12/2009'

In [12]:
txt6='2009 ; 2010'

In [13]:
connector=' ; '

In [14]:
txt3=txt1+connector+txt2+connector+txt4+connector+txt5+connector+txt6
txt3

'04/20/2009 ; 04/20/09 ; 4/20/09 ; 4/3/09 ; Mar-20-2009 ; Mar 20, 2009 ; March 20, 2009 ; Mar. 20, 2009 ; Mar 20 2009 ; 20 Mar 2009 ; 20 March 2009 ; 20 Mar. 2009 ; 20 March, 2009 ; Mar 20th, 2009 ; Mar 21st, 2009 ; Mar 22nd, 2009 ; Feb 2009 ; Sep 2009 ; Oct 2010 ; 6/2008 ; 12/2009 ; 2009 ; 2010'

In [15]:
result=re.findall(r'(?:\d{1,2}[/ ]*)?(?:(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z.,]*[- ])?(?:\d{1,2}(?:st|nd|rd|th)?[-/, ]*)?\d{2,4}',txt3)

In [16]:
list1=['04/20/2009','04/20/09','4/20/09','4/3/09']

In [17]:
list2=['Mar-20-2009','Mar 20, 2009','March 20, 2009','Mar. 20, 2009','Mar 20 2009']

In [18]:
list3=['20 Mar 2009','20 March 2009','20 Mar. 2009','20 March, 2009']

In [19]:
list4=['Mar 20th, 2009','Mar 21st, 2009','Mar 22nd, 2009']

In [20]:
list5=['Feb 2009','Sep 2009','Oct 2010']

In [21]:
list6=['6/2008','12/2009']

In [22]:
list7=['2009', '2010']

In [23]:
list8=list1+list2+list3+list4+list5+list6+list7

In [35]:
type1=[]
type2=[]
type3=[]
type4=[]
type5=[]
type6=[]
type7=[]

In [36]:
for i in range(len(list8)):
    if(re.search(r'\d{1,2}/\d{1,2}/\d{2,4}',list8[i])):
        type1.append(list8[i])
    elif(re.search(r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[a-z]*[-. ]*(?:\d{1,2}[-, ]*)\d{2,4}',list8[i])):
        type2.append(list8[i])
    elif(re.search(r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.,]* \d{2,4}',list8[i])):
        type3.append(list8[i])
    elif(re.search(r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[?=a-z]*[-. ]*(\d{1,2})(st|nd|th)[, ]*\d{2,4}',list8[i])):
        type4.append(list8[i])
    elif(re.search(r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[ -,.]*\d{2,4}',list8[i])):
        type5.append(list8[i])
    elif(re.search(r'\d{1,2}/\d{2,4}',list8[i])):
        type6.append(list8[i])
    elif(re.search(r'(?:^\d{2,4})',list8[i])):
        type7.append(list8[i])

In [37]:
print(type1) #correct
print(type2) #
print(type3)
print(type4)
print(type5)
print(type6)
print(type7)

['04/20/2009', '04/20/09', '4/20/09', '4/3/09']
['Mar-20-2009', 'Mar 20, 2009', 'March 20, 2009', 'Mar. 20, 2009', 'Mar 20 2009', 'Feb 2009', 'Sep 2009', 'Oct 2010']
['20 Mar 2009', '20 March 2009', '20 Mar. 2009', '20 March, 2009']
['Mar 20th, 2009', 'Mar 21st, 2009', 'Mar 22nd, 2009']
[]
['6/2008', '12/2009']
['2009', '2010']

In [27]:
# r'\d{1,2}/\d{1,2}/\d{2,4}' type1
# r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[a-z]*[-. ]*(?:\d{1,2}[-, ]*)\d{2,4}' type2
# r'\d{1,2} (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*[-.,]* \d{2,4}' type3
# r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[?=a-z]*[-. ]*(\d{1,2})(st|nd|th)[, ]*\d{2,4}' type4
# r'(?:^Jan|^Feb|^Mar|^Apr|^May|^Jun|^Jul|^Aug|^Sep|^Oct|^Nov|^Dec)[ -,.]*\d{2,4}' type5
# r'\d{1,2}/\d{2,4}' type6
# r'(?:^\d{2,4})' type7

In [38]:
df

         text
0  07/15/1998
1    07/06/99
2      7/6/99

In [47]:
df['text'].str.extractall(r'(?P<month>\d{1,2})/(?P<date>\d{1,2})/(?P<year>\d{2,4})')

        month date  year
  match
0 0        07   15  1998
1 0        07   06    99
2 0         7    6    99